:root {
  --square-size: 75px;
}
/*
.grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grab:active {
  cursor: url(images/grabbing.cur);
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), auto;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
} */

#board {
  width: calc(var(--square-size) * 8);
  height: calc(var(--square-size) * 8);
  margin: 50px;
  border: 20px solid rgb(57, 26, 20);
}

html {
  background-color: rgb(244, 244, 229);
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
/*
table {
  margin: 50px;
  border-spacing: 0;
  border-collapse: separate;
  border: 20px solid rgb(57, 26, 20);
}

td {
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  text-align: center;
} */

.white-square {
  background-color: papayawhip;
  width: var(--square-size);
  height: var(--square-size);
  line-height: var(--square-size);
  float: left;
  text-align: center;

  /* position: relative; */
}

.brown-square {
  background-color: rgb(155, 79, 24);
  width: var(--square-size);
  height: var(--square-size);
  line-height: var(--square-size);
  float: left;
  text-align: center;

  /* position: relative; */
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid rgb(155, 79, 24); */
}

.highlight {
  width: var(--square-size);
  height: var(--square-size);
  line-height: var(--square-size);
  float: left;
  text-align: center;
  opacity: 0.5;
  background-color: yellow;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid yellow; */
}

.square-container {
  width: var(--square-size);
  height: var(--square-size);
  float: left;
}

.square-highlight {
  position: absolute;
  height: 75px;
  width: 75px;
  opacity: 0.5;
  background-color: yellow;
  float: left;
  /* z-index: 1;
  top: 0;
  left: 0; */
}

img {
  vertical-align: middle;
  background-color: transparent;
  cursor: grab;
}

img:active {
  cursor: grabbing;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
