html {
  background-color: rgb(244, 244, 229);
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

table {
  margin: 50px;
  border-spacing: 0;
  border-collapse: separate;
  border: 20px solid rgb(57, 26, 20);
}

td {
  height: 75px;
  width: 75px;
  background-color: lightgray;
  text-align: center;
}

.white-square {
  background-color: papayawhip;
}

.brown-square {
  background-color: rgb(155, 79, 24);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
